/*Color Pallete
#F9F7F7
#DBE2EF
#3F72AF
#112D4E*/

.home-div {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../img/background/bck3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

@media screen and (max-width: 1000px) {
    .home-div {
        width: 100%;
        text-align: center;
        background: url("../img/background/bck3.jpg") no-repeat center;
        background-size: cover;
    }
    #t1 {
        position: relative;
        top: 230px;
        font-size: 3.5rem;
    }

    #t2 {
        position: relative;
        top: 230px;
        font-size: x-large;
    }
}

.light-div {
    width: 100%;
    padding: 5%;
    background-color: #F9F7F7;
}

.dark-div {
    width: 100%;
    padding: 5%;
    background-color: #112D4E;
}

.name {
    font-family: 'Montserrat', sans-serif;
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: white;
}

.icon {
    margin: -100% 10px 0 10px;
}

.dev-img-div {
    text-align: center;
}

.university-logo {
    max-height: 150px;
}

.section-title-light {
    text-align: center;
    color: white;
    padding-bottom: 35px;
}

.section-title-dark {
    text-align: center;
    padding-bottom: 35px;
}

.company-logo {
    padding: 20px;
}

.skills-logo {
    padding: 20px;
    max-height: 200px;
    object-fit: contain;
    width: 100%;
}

.socials-div {
    position: relative;
    top: 350px;
}

.social-img {
    width: 40px;
    padding: 10px;
}

#t1 {
    position: relative;
    top: 230px;
}

#t2 {
    position: relative;
    top: 230px;
}

.c1 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/linkedin.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}
.c1:hover {
    background: url("../img/social/linkedin-hover.png") no-repeat center;
    background-size: cover;
}

.c2 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/github.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}
.c2:hover {
    background: url("../img/social/github-hover.png") no-repeat center;
    background-size: cover;
}

.c3 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/gitlab.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}
.c3:hover {
    background: url("../img/social/gitlab-hover.png") no-repeat center;
    background-size: cover;
}

.c4 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/medium.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}
.c4:hover {
    background: url("../img/social/medium-hover.png") no-repeat center;
    background-size: cover;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }