html
    head
        title bmahatchi
        link(href='css/index.css', rel='stylesheet')
        link(href='css/bootstrap.css', rel='stylesheet')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    body
        nav(class='navbar sticky-top navbar-light bg-light')
            div(class='container-fluid')
                a(class="navbar-brand", href="#") Brighton Mahatchi
        block content
        script(src='js/index.js')
        script(src='js/bootstrap.bundle.js')