html
    head
        title bmahatchi
        link(href='css/bootstrap.css', rel='stylesheet')
    body
        nav(class='navbar sticky-top navbar-light bg-light')
            div(class='container-fluid')
                a(class="navbar-brand", href="#") Brighton Mahatchi
        block content
        script(src='js/index.js')
        script(src='js/bootstrap.bundle.js')