extends base.pug

block content
    section#home
        div(class='home-div')
            include home

    section#bio
        div(class='light-div')
            include bio

    section#education
        div(class='dark-div')
            include education

    section#experience
        div(class='light-div')
            include views/experience

    section#awards
        div(class='dark-div')
            include views/awards

    section#skills
        div(class='light-div')
            include views/skills

    section#courses
        div(class='dark-div')
            include views/courses

    section#portfolio
        div(class='light-div')
