extends base.pug

block content
    section#home
        div(class='home-div')
            div(class='name')
                h1 Brighton Mahatchi
                h6 Software & Machine Learning<br>Engineer

    section#bio
        div(class='light-div')
            include bio

    section#education
        div(class='dark-div')

    section#skills
        div(class='light-div')

    section#portfolio
        div(class='dark-div')
