extends base.pug

block content
    section#home
        div(class='home-div')
            include home

    section#bio
        div(class='light-div')
            include bio

    section#education
        div(class='dark-div')
            include education

    section#skills
        div(class='light-div')

    section#portfolio
        div(class='dark-div')
