nav#main-nav(class='navbar navbar-expand-sm sticky-top navbar-light bg-light')
    div(class='container-fluid')
        a(class="navbar-brand text-bold", href="#")
            strong Brighton Mahatchi
        button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarTogglerDemo02", aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div#navbarTogglerDemo02(class="collapse navbar-collapse")
            ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="nav-link active", aria-current="page", href="#home") Home
                li(class="nav-item")
                    a(class="nav-link active", aria-current="page", href="#bio") About
                li(class="nav-item")
                    a(class="nav-link active", aria-current="page", href="#education") Resume
                    li(class="nav-item")
                        a(class="nav-link active", aria-current="page", href="#skills") Skills
                li(class="nav-item")
                    a(class="nav-link active", aria-current="page", href="#portfolio") Portfolio