div(class='name')
    h1#t1 Brighton Mahatchi
    h6#t2 Software & Machine Learning<br>Engineer
    div(class="socials-div text-center")
        a(class="c1", href="https://www.linkedin.com/in/bmahatchi/") &nbsp;&nbsp;&nbsp;
        a(class="c2", href="https://github.com/TheRhaphe") &nbsp;&nbsp;&nbsp;
        a(class="c3", href="https://gitlab.com/bmahatchi2") &nbsp;&nbsp;&nbsp;
        a(class="c4", href="https://medium.com/@bmahatchi/") &nbsp;&nbsp;&nbsp;

