extends ../data/portfolio_data

block portfolio
    h1(class='section-title-dark') Portfolio

    ul(class="list-group list-group-flush m-5")
        .row(class="row-cols-1 row-cols-md-3 g-4")
            each project in projects
                .col
                    .card(class="h-100")
                        .card-body
                            h5(class="card-title")= project.title
                            p(class="card-text")= project.description
                        .card-footer(class='text-center')
                            each skill in project.skills
                                img(title=`${skill}`, src=`${skills[skill]}`, class='project-skill-img img-fluid', data-bs-toggle="tooltip", data-bs-placement="top")

