-
    const awards = [
        {
            title: "Mastercard Foundation Scholar",
            organization: "Carnegie Mellon University",
            description: "Awarded full scholarship",
            year: "2021",
        },
        {
            title: "Research Week Exhibitor",
            organization: "University of Zimbabwe",
            description: "Selected to showcase my IOT-based capstone project",
            year: "2019",
        },
        {
            title: "Generation Unlimited Winner",
            organization: "UNICEF",
            description: "Came third globally and second at national stage",
            year: "2018/2019",
        },
        {
            title: "Hackathon of the Year Winner",
            organization: "Velocity Health & Harare Institute of Technology",
            description: "Developed an android app for employee wellness and health reward programme",
            year: "2018",
        },
        {
            title: "OneMoney Fintech Hackathon",
            organization: "NetOne / TelOne",
            description: "1st runner up for an insurance aggregation app",
            year: "2017",
        },
        {
            title: "Book Prize",
            organization: "University of Zimbabwe",
            description: "Was best engineering student in the class of 2019",
            year: "2016",
        },
        {
            title: "Honors Fellow",
            organization: "Calvin College",
            description: "One of top students in sophomore year",
            year: "2015",
        },
        {
            title: "International Essay Competition Winner",
            organization: "Monash University Australia",
            description: "Essay title was \"Technology in the next 50 years\"",
            year: "2014",
        },
        {
            title: "Full Colors Academic honors",
            organization: "Saint Ignatius College",
            description: "For Exceptional performance in O Level examinations",
            year: "2013",
        },
    ]


block awards