-
    const courses = [
        {
            title: 'Professional Diploma in Project Management',
            organization: "Austin Peay University",
            years: '2021',
        },
        {
            title: 'Java SE 11 Developer',
            organization: "Oracle",
            years: '2021',
        },
        {
            title: 'Associate Android Developer',
            organization: "Google Developers",
            years: '2021',
        },
        {
            title: 'AWS Machine Learning Fundamentals',
            organization: "AWS & Udacity",
            years: '2020',
        },
        {
            title: 'Machine Learning',
            organization: "Stanford Online & Coursera",
            years: '2020',
        },
        {
            title: 'Machine Learning and Statistical Analysis',
            organization: "WorldQuant University",
            years: '2020',
        },
        {
            title: 'Computing and Data Science with Honors',
            organization: "WorldQuant University",
            years: '2019',
        },
        {
            title: 'Android, Swift and iOS Development',
            organization: "Muzinda Hub and Treehouse",
            years: '2019',
        },
        {
            title: 'Business and Entrepreneurship',
            organization: "Ubuntu Business Academy",
            years: '2019',
        },
    ]

block courses