-
    const jobs = [
        {
            company: 'Google Africa Developer Scholarship Program',
            title: 'Mentor',
            years: 'June 2021 - Present',
            location: 'Remote (Volunteer, Part-time)',
            logo: '../img/logo/GADS2020_Logo.jpg',
            responsibilities: [],
            achievements: [
                'Providing guidance and support for aspiring developers in Kotlin and Android development.',
                'Facilitating weekly tech talks, discussions, projects, and demonstrations within peer learning groups.'
            ],
            projects: []
        },
        {
            company: 'Africa Healing Foundation',
            title: 'Lead Software Engineer',
            years: 'November 2020 - Present',
            location: 'Remote (Volunteer, Part-time)',
            logo: '../img/logo/africa_healing.jpg',
            responsibilities: [],
            achievements: [
                'Developed an e-health mobile app, REST APIs, and internal systems using Kotlin, PHP, Laravel, Node.js and AWS.',
                'Built CI/CD pipelines that reduced testing and deployment time by more than 50% in subsequent sprints.',
            ],
            projects: []
        },
        {
            company: 'Cassava Smartech / Ecocash Holdings',
            title: 'Software Engineer',
            years: 'July 2019 - July 2021',
            location: 'Harare, Zimbabwe (Full-time)',
            logo: '../img/logo/cassava.jpg',
            responsibilities: [],
            achievements: [
                'Delivered more than 10 projects as the Android Development Team Lead from inception to deployment.',
                'Optimized backend resulting in 40% reduction in 3rd party API costs including Google Directions and Places API.',
                'Introduced industry best practices including Clean Architecture, Test Driven Development, Kotlin, Jetpack and analytics resulting in elimination of project overruns.'
            ],
            projects: []
        },
        {
            company: 'Pahukama',
            title: 'Software Developer',
            years: 'October 2020 - March 2021',
            location: 'Remote (Part-time)',
            logo: '../img/logo/pahukama.png',
            responsibilities: [],
            achievements: [
                'Fullstack development of an ecommerce platform',
            ],
            projects: []
        },
        {
            company: 'Amigo Solutions',
            title: 'Co-founder / CTO',
            years: 'February 2018 - July 2021',
            location: 'Harare, Zimbabwe (Part-time)',
            logo: '../img/logo/amigo.png',
            responsibilities: [],
            achievements: [
                'A startup where I led a tech team of 6 developers',
                'Successfully produced cross platform mobile app, web portal and IT infrastructure for the e-Learning platform'
            ],
            projects: []
        },
        {
            company: 'Orac Systems',
            title: 'Engineering Intern',
            years: 'June 2015 - July 2019',
            location: 'Harare, Zimbabwe (Full-time)',
            logo: '../img/logo/orac.png',
            responsibilities: [],
            achievements: [
                'Involved in control systems software design and optimization and device installations and maintenance. Worked during undergraduate academic vacation breaks.',
            ],
            projects: []
        },
        {
            company: 'Amigo v1',
            title: 'Founder / CEO',
            years: 'June 2015 - December 2017',
            location: 'Harare, Zimbabwe (Part-time)',
            logo: '../img/logo/amigo_v1.png',
            responsibilities: [],
            achievements: [
                'Startup opportunity used to build up technical skills.',
                'Learnt importance of software engineering practices to ensure software is maintainable and scalable.',
                'Learnt the importance of teamwork when building technology products.',
            ],
            projects: []
        },
    ]

block experience