-
    const skills = {
        'Android': '../img/skills/android.png',
        'Java': '../img/skills/java.png',
        'Kotlin': '../img/skills/kotlin.png',
    }
    const projects = [
        {
            title: 'Vaya Africa',
            description: 'A ride share app for the initially launched in Zimbabwe then to other African countries',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
        {
            title: 'Vaya eLogistics',
            description: 'A logistics app to help customers and business request transportation and storage of goods quickly and easily',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
        {
            title: 'Vaya Eats',
            description: 'A meal delivery app to allow customers order from their favorite restaurants and have their food delivered by Vaya Africa drivers',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
    ]

block portfolio