-
    const skill_sets = [
        {
            title: "Advanced",
            skills: [
                {
                    title: "Java",
                    logo: "../img/skills/java.png"
                },
                {
                    title: "Android",
                    logo: "../img/skills/android.png"
                },
                {
                    title: "Python",
                    logo: "../img/skills/python.png"
                },
                {
                    title: "Flutter",
                    logo: "../img/skills/flutter.png"
                },
                {
                    title: "PHP",
                    logo: "../img/skills/php.png"
                },
                {
                    title: "Spring",
                    logo: "../img/skills/spring.png"
                },
            ]
        },
        {
            title: "Intermediate",
            skills: [
                {
                    title: "Kotlin",
                    logo: "../img/skills/kotlin.png"
                },
                {
                    title: "C++",
                    logo: "../img/skills/cpp.png"
                },
                {
                    title: "Django",
                    logo: "../img/skills/django.png"
                },
                {
                    title: "JavaScript",
                    logo: "../img/skills/js.png"
                },
                {
                    title: "Node",
                    logo: "../img/skills/nodejs.png"
                },
                {
                    title: "MySQL",
                    logo: "../img/skills/mysql.png"
                },
                {
                    title: "MongoDB",
                    logo: "../img/skills/mongodb.png"
                },
                {
                    title: "Linux",
                    logo: "../img/skills/linux.png"
                },
                {
                    title: "Git",
                    logo: "../img/skills/git.png"
                },
                {
                    title: "Dart",
                    logo: "../img/skills/dart.png"
                },
                {
                    title: "HTML",
                    logo: "../img/skills/html.png"
                },
                {
                    title: "CSS",
                    logo: "../img/skills/css.png"
                },
            ]
        },
        {
            title: "Familiar",
            skills: [
                {
                    title: "React",
                    logo: "../img/skills/react.png"
                },
                {
                    title: "Laravel",
                    logo: "../img/skills/laravel.png"
                },
                {
                    title: "Flask",
                    logo: "../img/skills/flask.png"
                },
                {
                    title: "PostgreSQL",
                    logo: "../img/skills/postgre.png"
                },
                {
                    title: "Matlab",
                    logo: "../img/skills/matlab.png"
                },
                {
                    title: "GraphQL",
                    logo: "../img/skills/graphql.png"
                },
                {
                    title: "Jquery",
                    logo: "../img/skills/jquery.png"
                },
                {
                    title: "Arduino",
                    logo: "../img/skills/arduino.png"
                },
            ]
        },
    ]


block skills